extends layout
block content
    link(rel='stylesheet' href='/stylesheets/about.css')
    .container 
        p GeoQuiz is a fun and interactive way to learn about your local area.
        p It was created by group 22