extends layout
block content
 .about
    link(rel='stylesheet' href='/stylesheets/about.css')
    .container1  
        h1 GeoQuiz is a fun and interactive way to learn about your local area!
        h3 Select the right answer with your Cursor or Keyboard (Keys 1-4)

    .container2
        h1
            a#share(href='//twitter.com/intent/tweet?text=Lets%20compete%20and%20learn%20about%20our%20local%20areas%20%20with%20GeoQuiz!%3A&url=http%3A%2F%2Fgeo-quiz.xyz/%2F')
             | Share with your friends to compete!
            a(href='//twitter.com/intent/tweet?text=Lets%20compete%20and%20learn%20about%20our%20local%20areas%20%20with%20GeoQuiz!%3A&url=http%3A%2F%2Fgeo-quiz.xyz/%2F')
                img#tweet(src='https://www.freepnglogos.com/uploads/twitter-logo-png/twitter-logo-vector-png-clipart-1.png' width='60px' height='60px')
    .container3 
        h1 Our team
        .grid-container 
            //.div1 
            img(src='https://pbs.twimg.com/media/EY111kfXYAAfsSg.jpg' width='60px' height='80px')
            figcaption Laila White
            //.div1 
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSrw6TFJfxQTpixJo4fe2VDEBKrNfyPUhkTdw&usqp=CAU' width='70px' height='70px')
            figcaption Jack Jazrawy-Brown
            //.div1 
            img(src='https://i.kym-cdn.com/entries/icons/original/000/017/535/Meme.jpg' width='60px' height='70px')
            figcaption Faiez Raja
            //.div1 
            img(src='https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSBwzQrtQGEuLsPktS09w7j-GIl7Pcequ4XOr7ugcW2Akd5rRs38TKMOiv6qeo2Di_1pf8&usqp=CAU' width='70px' height='70px')
            figcaption Jennifer Pham
            //.div1 
            img(src='https://static.vecteezy.com/system/resources/previews/002/275/847/original/male-avatar-profile-icon-of-smiling-caucasian-man-vector.jpg' width='70px' height='70px')
            figcaption Kai Ji
            //.div1 
            img(src='https://i.pinimg.com/736x/f0/0a/c8/f00ac85ff2bbe23bf9d4033a1b49cd61--kuriyama-mirai-beyond-the-boundary.jpg' width='70px' height='70px')
            figcaption Maria Merkulova
            //.div1 
            img#globe(src='/images/cute_globe.png' width='175px' height='190px')
            figcaption  GeoNardo
        div

         h2 Join our Mascot GeoNardo in completing our quizzes and unlock Achievements along the way!

        .button1
           button.contact(onclick='window.location.href="/support"')='Contact Us'