extends layout
block content
    link(rel='stylesheet' href='/stylesheets/about.css')
    .container1 
        h2 GeoQuiz is a fun and interactive way to learn about your local area.
    .container2
        h2
            a(href='//twitter.com/intent/tweet?text=Lets%20compete%20and%20learn%20about%20our%20local%20areas%20%20with%20GeoQuiz!%3A&url=http%3A%2F%2Fgeo-quiz.xyz/%2F')
             | Share with your friends to compete!
    .container3 
        h2
            a(href='/login')
             | Sign in to join the leaderboard here.
    .container4 
        h2 Our team