link(rel='stylesheet' href='/stylesheets/gdpr.css')
script(src='/scripts/scaling.js')

h1 GDPR privacy policy
        h2 This privacy policy will explain how our organisation uses the personal data we collect from you when you use our website.
        h2 What data do we collect?
        p GeoQuiz collects the following data: 
        ul
            li Personal identifying information (full name & email address)
            li Geographical location 
        
        h2 How do we collect your data? 
        p 
            | You directly provide GeoQuiz with most of the data we collect. We collect and process data when you: 
        ul
            li Sign into an integrated account 
            li Allow the use of location services
            li Use or view our website via your browser's cookies
            li Complete a quiz 
        
        h2 How will we use your data? 
        p
            | GeoQuiz collects your data so that we can: 
        ul 
            li Give you quizzes relevant to your area
            li Insert your performance into the leaderboards
            li Personalize your account with your name
        
        h2 How do we store your data? 
        p 
            | GeoQuiz securely stores your data on a DigitalOcean server with SSL authentication 
            | We will keep your user data for 6 months after your last use.  Once this time period has expired, 
            | we will delete your data by removing it from our database. 
        
        h2 What are your Data Protection Rights? 
        p 
            | GeoQuiz would like to make sure you are fully aware of your data protection rights, which you can find 
            | <a href="https://ico.org.uk/global/privacy-notice/your-data-protection-rights/">here</a>. If you make a request, 
            | we have one month to respond to you. If you would like to exercise any of these rights, please 
            | contact us at our email: LRW080@student.bham.ac.uk.
        
        h2 How do we use cookies? 
        p
            | When you visit our website, we may collect information from you automatically through cookies or similar technology. 
            | These are used for: 
        ul
            li Keeping you signed in
            li Understanding how you use our website 
            li Storing your location to show you relevant quizzes 
        
        h2 What types of cookies do we use? 
        p
            | There are a number of different types of cookies, however, our website uses: 
            
        ul
            li  
                | Strictly necessary cookies - cookies which are essential for you to browse the website and use its features, such as
                | accessing secure areas of the site.  
            li First-party session cookies - cookies which are temporary and expire once you end your session. 
            li  
                |Preferences cookies - Also known as “functionality cookies,” these cookies allow GeoQuiz to remember choices 
                |you have made in the past, like what font size you prefer, or what your username and password are so you can automatically log in. 
        
        h2 How to manage cookies 
        p You can set your browser not to accept cookies, but our website will not function as a result 
        
        h2 Changes to our privacy policy 
        p GeoQuiz keeps its privacy policy under regular review and places any updates on this web page. This privacy policy was last updated on 7th March 2022
        
        h2 How to Contact Us: 
        p
            | If you have any questions about GeoQuiz's privacy policy, the data we hold on you, or you would like to exercise one of your data protection 
            | rights, please do not hesitate to contact us. Email us at: LRW080@student.bham.ac.uk 
        
        h2 How to contact the appropriate authority 
        p
            | Should you wish to report a complaint or if you feel that GeoQuiz has not addressed your concern in a satisfactory manner, you may contact the 
            | <a href="https://ico.org.uk/make-a-complaint/cookies/">Information Commissioner's office</a>. 