extends layout
block content
    link(rel='stylesheet' href='/stylesheets/login.css')
    link(rel='stylesheet' href='/stylesheets/style.css')
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src='/scripts/scaling.js')
    script(src='/scripts/main-page.js')

    .login
        h1='The best way to get familiar with your area'
        p='To get started, login or play as a guest'
        button.guest-login(onclick='window.location.href="/"')='Play as a guest'
    .login
        .social-login 
            h2='Login'
            #g-signin(tabindex="0")
            .fb-login-button( data-button-type='continue_with', data-use-continue-as='true', data-theme="dark")
                