extends layout
block content
    link(rel='stylesheet' href='/stylesheets/profile.css')
    script(src='/scripts/profile-page.js')

    .container
        .top
            img#profile-pic
            h1#username
        .details
            h2#rank= 'Rank: '
            button.profilebtn#get-new-pfp='Generate a new profile picture'
            br
            button.profilebtn#delete= 'Delete my account'
            br
            button.profilebtn#achievements= 'Achievements'

