extends layout
block content
    link(rel='stylesheet' href='/stylesheets/profile.css')
    script(src='/scripts/profile-page.js')
    script(src='/scripts/showRank.js')
    script(src='/scripts/signOut.js')
    .container 
        h2#username='Username: '
        h2#rank= 'Rank: '
        button.delete#delete= 'Delete user'

