extends layout
block content
    link(rel='stylesheet' href='/stylesheets/quiz.css')

    script(src='/scripts/scaling.js')
    script(src='/scripts/quiz-page.js')

    .container-left
        .mascot
            a(href='/quiz')
                //img(src='/images/cute_globe.png')
                //img(src='/images/sad_globe.png')
    #quiz-container
        #quiz 
            h1='Get ready...'
            #countdown
            p=`Keep an eye on the emoji in the progress bar to see how you're doing!`
        #progress-bar
            #inner-bar
            #emoji='😁'
    .container-right
        svg( width='160px' height='160px')
            defs
                lineargradient#GradientColor
                    stop(offset='0%' stop-color='#ffffff')
                    stop(offset='100%' stop-color='#2066fc')
            circle#timer( cx='80' cy='80' r='70' stroke-linecap='round')
        
            

    
        
