extends layout
block content
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible' content='IE=edge')
    meta(name='viewport' content='width=device-width, initial-scale=1')
    script(src='/scripts/scaling.js')
    script(src='https://cdn.rawgit.com/kimmobrunfeldt/progressbar.js/0.5.6/dist/progressbar.js')

    link(rel='stylesheet' href='/stylesheets/quiz.css')
    script(src='/scripts/quiz-page.js')

    .container-left
    #quiz-container
        #quiz 
             h1='Loading your quiz...'
        #progress 
             #myBar
    .container-right
        svg( width='160px' height='160px')
            defs
                lineargradient#GradientColor
                    stop(offset='0%' stop-color='#d2b48c')
                    stop(offset='100%' stop-color='#a0522d')
            circle#timer( cx='80' cy='80' r='70' stroke-linecap='round')
        
            

    
        
