extends layout
block content
    script(src='/scripts/scaling.js')
    link(rel='stylesheet' href='/stylesheets/quiz.css')
    script(src='/scripts/quiz-page.js')

    #quiz 
        h1='Loading your quiz...'

            

    
        
