extends layout
block content
    link(rel='stylesheet' href='/stylesheets/quiz.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/scripts/take-quiz.js')
    script(src='/scripts/client-get-quiz.js')
    script(src='/quiz-generator.js')

    #quiz 
        h1='Loading your quiz...'

            

    
        
