extends layout
block content
    link(rel='stylesheet' href='/stylesheets/support.css')
    link(rel='stylesheet' href='/stylesheets/index.css')
    script(src='/scripts/support.js')
    script(src='/scripts/main-page.js')
    #form
        h1 Support 
        p Send us any issues or questions below:

        p Email:    
        input(type="text", id="email", value="")
        p Query:
        textarea(id="query" form="support")
        br
        br
        button(id="submit") Send

        