.container1{
    text-align: center;

    display: flex;
    flex-direction:column;
    justify-content: space-around; 
    align-items: stretch;
    width: 100%;
    padding: 20px;
    background-color: #f3df6c;
    
}

.container2{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    padding: 20px;
    background-color: #e68387;
   
}

.container3{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    justify-content: space-around;
    background-color: #7fd889;
    
}

.container4{
    text-align: center;
    width: 100%;
    display: flex;
    flex-direction:column;
    align-items: stretch;
    background-color: #9ec8ff;
    
}





