.container{
    
    width: 100%;
}
.content{
    width: 100%;
  
   
    
}
table{
    background-color:rgb(153, 204, 255);
    border-radius: 10px;
    border: 2px
}
tr{
    border:none
}
td{
    border:none;
    text-align: center;
}
th{
    background-color: aqua;
    border:none;
}
td:hover{
    background-color: bisque;
    color: bisque
}
.start{
    margin-bottom: 5%;
    text-align: end;
    position: relative;
    bottom: 80px;
    right :20%;

}
.start-quiz{
    margin-top: 4%;
}

table{
    position: relative;
    width: 80%;
    top : 50px;
    left: 60px
}

.located{
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    position: relative;
}
  
.scaling{
    text-align: end;
    position: relative;
    right :20%;
}

scalingButton{ 
    background-color: white;
    padding: 5px 10px;
    font-weight: bold;
    border-radius: 3px;
    border: 2px solid black;
    filter: drop-shadow(2px 2px 2px black);
    transition: 0.3s;
  }
  
  scalingButton:hover{
    background-color: grey;
    cursor: pointer;
  }
  

  