.container{
    
    width: 100%;
}
.content{
    width: 100%;
  
    display: inline-block;
    
}
.start{

    text-align: end;
    position: relative;
    bottom: 80px;
    right :20%;

    
    
}

.table{
    position: relative;
    top : 50px;
    padding-left: 100px; 
    
}

.located{
    justify-content: center;
    align-items: center;
    justify-items: center;
    text-align: center;
    right : 500px;
}
  
.scaling{
    text-align: end;
    position: relative;
    bottom: 0px;
    right :20%;
}

  