.login{
  width: 50%;
  margin: 5%;
  z-index:2;
}

.social-login{
  background-color: var(--social-login);
  flex-grow: 1;

  width: 80%;
  margin: 0% 10%;
  padding: 10px;
  height: 20vh;
  border-radius: 10px;
  filter: drop-shadow(0px 0px 2px black);
  border: var(--social-border);
  text-align: center;

}

.usernameText {
  padding-right: 25px;
  padding-top: 25px;
}

@media screen and (max-width: 800px) {
  .page{
    flex-direction: column;
    padding: 0px 50px;
  }
  .login{
    width: 100%;
    margin: 0% 0%;
    margin-top: 5%;
    padding-right: 0;
  }
  .social-login{
    margin: 0;
  }
}