#quiz{
    width: 100%;
    text-align: center;
    position: relative;
}

#buttons{
    width: 50%;
    margin-left: 25%;
}
#quiz button{
    width: 100%;
    height: max-content;
    margin: 5px 0px;
    justify-content: center;
    position: relative;
    margin-left: 5px;
    margin-right: 5px;
}

#quiz button.right{
    background-color: green;
}

#quiz button.wrong{
    background-color: red;
}

img.trialQuestion{
    margin-top: 15px;
    height: 50%;
}
h1.trialQuestion{
    margin-top: 50px;
    
}

h3.trialQuestion{
    margin-top: 50px;
   
}

/*End of quiz stuff*/
.quiz-end{
    width: 100%;
    text-align: center;
}
