circle{
    fill:none;
    stroke-width: 8%;
    stroke: url(#GradientColor);
    stroke-dasharray: 472;
    stroke-dashoffset: 0;
    
}

@keyframes anim{
    100%{
        stroke-dashoffset: 472;
    }
}

#progress-bar {
    margin-left: 2%;
    height: 20px;
    bottom: 0px;
    margin-top: 20px;
    background-color: #ffffff;
}

#inner-bar {
    transition: 0.3s;
    width: 0%;
    height: 100%;
    background-color:#2066fc;
    text-align: center;
    line-height: 32px;

} 

.container-left{
    width:40%;
}

.container-right{
    width: 40%;
}

#quiz{
    height: 90%;
    text-align: center;

    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: stretch;

}
#quiz-container{
    width: 100%;
}
 
#buttons{
    width: 100%;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 100px 100px;
    column-gap: 2%;
    row-gap: 5%;
}

.answer{
    background-color: rgb(255, 255, 255);
    border: 2px solid black;
    width: 100%;
    height: 100%;
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;

}

.answer-text{
    width: 90%;
    font-weight: bold;
    margin: 5px 0px;
}

.answer:hover{
    cursor: pointer;
    background-color: grey;
}

.right{
    background-color: green;
}
.right:hover{
    background-color: green;
}

.wrong{
    background-color: rgb(204, 0, 0);
}
.wrong:hover{
    background-color: red;
}


#google-image{
    max-height: 200px;
    width: 40%;
    margin: 0px 30%;
    height: auto;
}

.tick{
    width:30px;
    height: 30px;
    display: inline;
    visibility: hidden;
}
 .happy{
     max-height: 400px;

 }
/*End of quiz stuff*/
.quiz-end{
    width: 50%;
    margin-left: 25%;
    height: 80%;
    text-align: center;
}

#score{
    font-size: 100px;
    margin: 50px 0px;
}

.quiz-end button{
    width: 50%;
    padding: 20px 0;
    margin-bottom: 10px;
}

@media screen and (max-width: 800px) {
    .quiz-end{
        width: 100%;
        margin: 0;

    }
}
