@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Prata&display=swap');
:root{
  --background-color: #ffdc9f;
  --default-font: 'Prata', serif;
  --button-font: 'Prata', serif;
}

body {
  display: flex;
  flex-direction: column;

  padding: 0px;
  margin: 0px;

  height: 100vh;
  font-family: var(--default-font);
  background-color: var(--background-color);
}

button{
  padding: 20px 40px;
  font-size:1.25em;
  font-family: var(--default-font);
  font-weight: bold;
  border-radius: 3px;
  border: 2px solid black;
  filter: drop-shadow(2px 2px 2px black);
  transition: 0.3s;
}

button:hover{
  background-color: grey;
  cursor: pointer;
}

p{
  font-size: 20px;
}

/*Header style*/
.header{
  display: flex;
  flex-direction: row;
  height: 75px;
}
.usernameText {
  padding-right: 25px;
  padding-top: 25px;
}

.header:after{
  content: "";
  background: white;
  position:relative;
  top: 75px;

  width: 110%;
  margin-right: 15%;
  height: 1px;

}

.logo{
  height: 75px;
  width: 300px;
 position: fixed;
  margin-left: 2.5%;
}

.logo img{
  max-height: 100%;
  max-width: 100%;
}

.signin{
  font-size: 15px;
  position: fixed;
  margin: 20px 0;
  margin-left: 90%;
  margin-right: 2.5%;

  padding: 5px 20px;

}

/*Main page class*/
.page{
  display: flex;
  flex-grow: 1;
}

/*Footer style*/
.footer{
  height: 75px;
  margin-left: 2.5%;
}

.footer a{
  line-height: 75px;
  text-decoration: none;
  color: black;
  margin-right: 20px;
}

