#form{
  	margin: 20px auto;
	width: 40vw;
	padding: 20px;
	background-color: var(--form-color);
	border-radius: 5px;
	border: var(--headerborder-color);
	filter: drop-shadow(1.5px 1.5px 1.5px black);
	z-index: 1;
}

input[type=text]{
	padding: 5px 10px;
	margin: 10px 0px;
	color: black;
}

input[type=submit]{
	padding: 5px 10px;
	margin: 10px 0px;
}

textarea{
	width: 90%;
	height: 100px
}

